/*global attribute*/
body
{
    background-color: #00171F;
    font-family: sans-serif;
}

/*any element with the class half-page will have a width of 50% of the page*/
.half-page{
    width: 50%;
    margin-left: 120px;
}

/*any element with the tag <p> will have a sans-seirf font type and a font size of 18px*/
p {
    color: #D6D8DB;
    font-size: 18px;
}

/*any text with the class title will have these attributes*/
.title{
    color: #FB5012;
    font-size: 36px;
}

/*stylizes the bootstrap jumbotron*/
#header{
    padding:10px;
    background-color:#00A8E8;
    color: #D6D8DB;
}

/*sets the width of the search box on the dashboard page*/
#searchBox{
    width: 200px;
}

/*makes links not blue*/
a {
    color: #7E9181;
}

/*styles links so when the user hovers over them, they will have these attributes*/
a:hover {
    color: #D6D8DB;
}