{% extends "template.html" %}
{% block title %}
    Weather
{% endblock %}
{% block body %}

    <div style= "margin-right: 120px; float:right;">
        <!--link to log out and to homepage-->
        <p><a href="{{ url_for('logout') }}">Logout</a><p>
    </div>
    <div class="half-page">
    <!--Title introducing the weather info, accessing the variable 'location' from application.py-->
    <h1 class="title">The Weather for {{ location }}:</h1>
    <!--weather info, accessing the variables from the 'weather' function in application.py-->
    <p class="info"> {{ locationData }}</p>
    <br>
    <br>
    <p class="info">{{ summary }}</p>
    <p>{{ currTemp }}</p>
    <p>{{ dp }}</p>
    <p>{{ hum }}</p>
    <br>
    <br>
    <!--Greets the user with their name, accessing the global variable from application.py-->
    <p>Hey, {{ userLoggedIn }}! Wanna make a comment about this location?</p>
    <!--form code referenced from https://getbootstrap.com/docs/4.0/components/forms/-->
        <form action="{{ url_for('checkIn') }}" method="post">
          <div class="form-group">
            <input class="form-control" name="comment" placeholder="Add a comment">
          </div>
          <div class="form-group">
              <!--When the user hits this button, the info in the form will be sent to the 'checkIn'
              function in application.py-->
              <button class="btn btn-primary">Check In</button>
          </div>
        </form>
    </div>
{% endblock %}