{% extends "template.html" %}
{% block title %}
    Weather
{% endblock %}
{% block body %}
    <a href="{{ url_for('logout') }}">Logout</a>
    <h1>The Weather for {{ location }}</h1>
    <p>{{ weatherInfo }}</p>
    <p>Hey, {{ userLoggedIn }}! Wanna make a comment about this location?</p>
        <form action="{{ url_for('checkIn') }}" method="post">
          <div class="form-group">
            <input class="form-control" name="comment" placeholder="Add a comment">
          </div>
          <div class="form-group">
              <button class="btn btn-primary">Check In</button>
          </div>
        </form>
{% endblock %}